/Exercise\ 1/Report/assignment_1.pdf
/Exercise\ 1/Report/assignment_1.synctex.gz
/Exercise\ 1/Report/assignment_3.synctex.gz
/Exercise\ 1/Report/assignment_3.zip
/Exercise\ 1/Report/pics
/Exercise\ 1/Report/Report.aux
/Exercise\ 1/Report/Report.log
/Exercise\ 1/Report/Report.synctex.gz
/Exercise\ 1/Report/Report.tex
/Exercise\ 1/Report/Report.tex.bak
/Exercise\ 1/.ipynb_checkpoints
/Exercise\ 1/data
